@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@font-face {
    font-family: 'ocean';
    src: url('../d001/fontes/ocean.ttf') format('truetype');
}

@font-face {
    font-family: 'watermark';
    src: url('../d001/fontes/watermark.ttf') format('truetype');
}

:root {
    --cor1: #246678;
    --cor2: #0084A8;
    --cor3: #009AC4;
    --cor4: #00C2F7;
    --cor5: #acedff;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Lumanosimo', cursive;
    --fonte-alternativa: 'Edu SA Beginner', cursive;
    --fonte-ocean: 'ocean', script; 
    --fonte-water: 'watermark', script;
    --fonte-legendaimg: 'Nunito Sans', sans-serif;
    
    
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: radial-gradient(circle, var(--cor1), var(--cor5));
}

header {
    
    background-image: linear-gradient(var(--cor1), var(--cor4), var(--cor5));
    text-align: center;
    padding: 40px;
      
}

header h1 {
    font-family: var(--fonte-water);
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
    font-size: 2.5em;
}

header p {
    font-family: var(--fonte-alternativa);
    color: var(--cor5);
    font-size: 1.9em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
}

nav {
    background-color: var(--cor1);
    padding: 8px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.288);
    text-align: center;
    font-family: var(--fonte-alternativa);
    font-size: 1.2em;
}

nav > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor5);
    border-radius: 5px;
    padding: 5px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: whitesmoke;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.288);
    
}

article h1 {
    background-image: radial-gradient(circle, var(--cor1) 30%, rgba(255, 255, 255, 0.37));
    border-radius: 5px;
    font-family: var(--fonte-alternativa);
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.267);
    padding: 10px;
    margin: 20px;
    text-align: center;
}

article h2 {
    font-family: var(--fonte-alternativa);
    padding: 20px;
    padding-bottom: 5px;
    color: var(--cor2);
}

article p {
    font-family: var(--fonte-legendaimg);
    text-indent: 15px;
    padding: 3px;
    font-size: 1em;
    text-align: justify;
}


footer {
    color: gray;
    background-color: var(--cor1);
    margin-top: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
}

footer a {

    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px  black;
    transition-duration: 0.5s;
}

footer  a:hover {
    text-decoration: underline;
    
}


div.video {
    background-color: var(--cor1);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 40%;
    position: relative;
}

div.video > iframe {

    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


p.textoimagens {
    font-family: var(--fonte-legendaimg);
    font-size: 0.9em;
    padding: 10px;
    margin: auto;
}

picture > img {
    text-align: center;
    margin: auto;
    width: 100%;
}

main a {
    text-decoration: none;
    color: var(--cor1);
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.363);
    transition-duration: 0.5s;
}

main a:hover {
    background-color: var(--cor5);
    border-radius: 3px;
    padding: 2px;
}

strong {
    color: #246678;
}

main a::after {
    content: '\00A0\1F517';
}
    